<div class="target-content">
    <div class="row top-row">
        <div class="col-md-12">
            <h4>Set Metric</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Metric Type</label>

                <select class="form-control select"
                        data-ng-options="item.id as item.name for item in ctrl.metricTypeOptions | orderBy:'name'"
                        data-ng-model="ctrl.metricType"
                        data-ng-change="ctrl.metricTypeChange(ctrl.metricType)"></select>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
                <label>Stretch Goal</label>
                <div class="radio-button">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptionsGoal" data-ng-value="true"
                               data-ng-model="ctrl.isStretchGoalEnabled"
                               data-ng-change="ctrl.resetMonthlyStretchGoals()">
                        <i class="fa fa-circle-o"></i>
                        <span> Yes </span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptionsGoal" data-ng-value="false"
                               checked="checked" data-ng-model="ctrl.isStretchGoalEnabled"
                               data-ng-change="ctrl.resetMonthlyStretchGoals()">
                        <i class="fa fa-circle-o">
                        </i><span> No </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Effective Start Date</label>
                <date-picker date-model="ctrl.effectiveStartDate"
                             placeholder-text="'Effective Start Date'" date-options="ctrl.dateOptions"
                             opened="ctrl.startDateOpened" change-date="ctrl.resetMetricsList()" />
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
                <label>Effective End Date</label>
                <date-picker date-model="ctrl.effectiveEndDate"
                             placeholder-text="'Effective End Date'" date-options="ctrl.dateOptions"
                             opened="ctrl.endDateOpened" change-date="ctrl.resetMetricsList()" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Metric</label>
                <select class="form-control select" data-ng-model="ctrl.metricId"
                        ng-options="item.id as item.name for item in ctrl.metrics | orderBy:'name'"
                        data-ng-change="ctrl.getCascadedMetricDetails(true)"></select>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1" data-ng-if="ctrl.isCascadeEnabled">
            <div class="form-group">
                <label>Cascade Metric From Parent</label>
                <div class="radio-button">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptionsMetric"
                               data-ng-model="ctrl.isCascadeFromParent"
                               data-ng-value="true"
                               data-ng-change="ctrl.changeCascading(ctrl.isCascadeFromParent)">
                        <i class="fa fa-circle-o"></i>
                        <span> Yes </span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptionsMetric"
                               data-ng-model="ctrl.isCascadeFromParent"
                               data-ng-value="false" checked="checked"
                               data-ng-change="ctrl.changeCascading(ctrl.isCascadeFromParent)">
                        <i class="fa fa-circle-o">
                        </i><span> No </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Target Entry Method</label>
                <select class="form-control select" id="targetEntryMethod"
                        data-ng-model="ctrl.targetEntryMethodId"
                        data-ng-options="option.id as option.name for option in ctrl.targetEntryMethodOptions | orderBy:'name'"
                        data-ng-change="ctrl.onTargetEntryMethodChanged(ctrl.targetEntryMethodId, {{ctrl.targetEntryMethodId}})"></select>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
                <label>Tracking Method</label>
                <select class="form-control select" id="trackingMethod"
                        data-ng-model="ctrl.trackingMethodId"
                        data-ng-options="option.id as option.name for option in ctrl.trackingMethodOptionsFiltered | orderBy:'name'"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Graph Plotting Method</label>
                <select class="form-control select" id="graphPlottingMethod"
                        data-ng-model="ctrl.graphPlottingMethodId"
                        data-ng-options="option.id as option.name for option in ctrl.graphPlottingMethodOptions | orderBy:'name'"
                        data-ng-change="ctrl.onGraphPlottingMethodChanged(ctrl.graphPlottingMethodId)"></select>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
                <label>MTD Performance Tracking Method</label>
                <select class="form-control select" id="mtdTrackingMethod"
                        data-ng-model="ctrl.mtdTrackingMethodId"                        
                        data-ng-options="option.id as option.name for option in ctrl.mtdTrackingMethodOptionsFiltered | orderBy:'name'"
                        data-ng-change="ctrl.onMTDPerformanceTrackingChanged(ctrl.mtdTrackingMethodId)"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <div class="form-group">
                    <label>{{ctrl.targetLabelName}}</label>
                    <input type="number" pattern="^-?\d{0,16}(\.\d{0,2})?$" maxlength="20" class="form-control" data-ng-model="ctrl.annualTarget" valid-number>
                </div>
            </div>
        </div>
        <div class="col-md-5  col-md-offset-1" data-ng-if="ctrl.isCascadeFromParent">
            <div class="form-group">
                <label>Rollup Method</label>
                <select class="form-control select" id="rollupMethod"
                        data-ng-model="ctrl.rollupMethodId"
                        data-ng-options="option.id as option.name for option in ctrl.rollupMethodOptions | orderBy:'name'"
                        data-ng-change="ctrl.onRollupMethodChanged(ctrl.rollupMethodId)"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" data-ng-if="ctrl.isCascaded">
            <div class="form-group">
                <div class="form-group">
                    <label>Cascaded Metrics Tracking Method</label>
                    <select class="form-control select" id="cascadedMetricTrackingMethod"
                            data-ng-model="ctrl.cascadedMetricsTrackingMethodId"
                            data-ng-options="option.id as option.name for option in ctrl.cascadedMetricsTrackingMethods | orderBy:'name'"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="pull-left"> Monthly Plan</h4>
            <label class="pull-right save-warning"> Click Save/Update to finalize all changes</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-if="ctrl.monthlyTargets">
            <monthly-plan monthly-target="ctrl.monthlyTargets"
                          is-editable="true"
                          mode="'manage'"
                          is-primary="ctrl.isPrimary"
                          is-cascade-enabled="ctrl.isCascadeFromParent"
                          is-cascaded="ctrl.isCascaded"
                          is-stretch-goal-enabled="ctrl.isStretchGoalEnabled"
                          has-different-target-entry="ctrl.hasMonthlyAndDailyTargets"
                          effective-start-date="ctrl.effectiveStartDate"
                          effective-end-date="ctrl.effectiveEndDate"
                          target-entry-method="ctrl.targetEntryMethodId"
                          tracking-method="ctrl.trackingMethodId"
                          submit-daily-target="ctrl.submitDailyTarget(target,mode, showDailyAndMonthly, metricDataType)"
                          metric-data-type="ctrl.selectedMetricDataType.id">
            </monthly-plan>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 daily-target-legend">
            <div class="legend">
                <i class="fa fa-pencil" style="color:#999"></i>
            </div>
            <span>Use Daily View to update the targets</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="line">
            <div class="button-wrapper pull-right">
                <a class="btn btn-default button-cancel" data-ng-click="ctrl.cancel()">Cancel</a>
                <a data-ng-click="ctrl.confirmSubmit(ctrl.action)" data-ng-disabled="ctrl.isSaving" class="btn button-save">{{ctrl.action}}</a>
            </div>
        </div>
    </div>
</div>