<div class="popup-wrapper kpi-detailed kpi-secondary" ng-class="{noaccess:!ctrl.isUserAuthorizedToAlterScorecardEntries}">
    <div class="popup">
        <div class="popup-content">
            <div class="content-top">
                <div class="row">
                    <div class="col-xs-7">
                        <h4 class="font-bold">{{ctrl.metricDetails.metricName}}</h4>
                    </div>
                    <div class="col-xs-5">
                        <div class="col-xs-6 goal">
                            <h4><small>Goal</small></h4>
                            <div ng-if="ctrl.metricDetails.mtdGoal ||ctrl.metricDetails.mtdGoal == 0">
                                <h4 class="font-bold">{{ctrl.metricDetails.mtdGoal|metricType:ctrl.metricDetails.metricDataTypeId:ctrl.isShowingGoal}}</h4>
                            </div>
                            <div ng-if="!ctrl.metricDetails.mtdGoal && ctrl.metricDetails.mtdGoal!= 0">
                                <h4 class="font-bold">NA</h4>
                            </div>
                        </div>
                        <div class="col-xs-6 stretch-goal" ng-show="ctrl.metricDetails.monthlyStretchGoalValue || ctrl.metricDetails.monthlyStretchGoalValue==0">
                            <h4><small>Stretch Goal</small></h4>
                            <h4 class="font-bold">{{ctrl.metricDetails.monthlyStretchGoalValue|metricType:ctrl.metricDetails.metricDataTypeId:ctrl.isShowingGoal}}</h4>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="kpi-name">{{ctrl.kpiname}}</h4>
                    <div class="metric-sec-wrapper">
                        <kpi-letter kpi-id="ctrl.kpiId"
                                    monthly-data="ctrl.metricActualsIndicationData.monthlyActuals"
                                    dialy-data="ctrl.metricActualsIndicationData.dailyActuals"
                                    metric-details="ctrl.metricDetails"
                                    display-popup="ctrl.showSecondaryMetricActualPopup(data,type,metricDetails)">
                        </kpi-letter>
                    </div>
                </div>
            </div>
            <div class="content-bottom">
                <div class="row">
                    <div class="col-md-12">
                        <div class="legend">
                            <div class="legend-item">
                                <a class="legend-achieved"></a>Achieved Goal
                            </div>
                            <div class="legend-item">
                                <a class="legend-missed"></a>Missed Goal/Safety Accident
                            </div>
                            <div class="legend-item">
                                <a class="legend-holiday"></a>Non-Workday
                            </div>
                            <div class="legend-item">
                                <a class="legend-not-tracked"></a> Not Currently Being Tracked
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-bottom">
            <button class="btn button-mark button-cancel"  ng-click="ctrl.cancel()">Close</button>
        </div>
    </div>
</div>
