<div class="popup-wrapper actuals-primary">
    <div class="popup">
        <div class="popup-content">
            <h3 class="font-bold">{{ctrl.metricData.metricName}}</h3>
            <div class="content-top">
                <div class="row">
                    <div class="goal col-xs-5">
                        <h6 class="font-bold">Goal</h6>
                        <h3>
                            <small ng-if="ctrl.hasGoalValue">{{ctrl.metricData.goalValue | metricType:ctrl.metricData.metricDataTypeId:ctrl.isShowingActualPopup}}</small>
                            <small ng-if="!ctrl.hasGoalValue">NA</small>
                        </h3>
                    </div>
                    <div class="date col-xs-7">
                        <h5><small>{{ctrl.metricData.date| date:'fullDate'}}</small></h5>
                    </div>
                </div>
                <hr>
            </div>
            <div class="content-bottom">
                <h5 class="font-bold">Enter Actual</h5>
                <div class="row">
                    <div class="col-xs-3 slider-input">
                     <input ng-if="ctrl.metricData.metricDataTypeId == 0" type="number"  class="form-control" ng-change="ctrl.updateSlider(ctrl.actualEntered)"
                               min="{{ctrl.inputMinValue}}" ng-model="ctrl.actualEntered" valid-number="wholeNumber">

                      <input ng-if="ctrl.metricData.metricDataTypeId != 0" type="number"  class="form-control" ng-change="ctrl.updateSlider(ctrl.actualEntered)" 
                               min="{{ctrl.inputMinValue}}" ng-model="ctrl.actualEntered"  valid-number>
                    </div>
                    <div class="col-xs-8 slider">
                        <div class="range-slider" ng-if="ctrl.isSliderEnabled">
                            <ionslider min="ctrl.sliderMinValue" step=".01" grid="true" max="ctrl.sliderMaxValue" from="ctrl.sliderFromValue"
                                       on-change="ctrl.updateInput" ></ionslider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-bottom">
            <button class="btn btn-default button-cancel" ng-click="ctrl.cancel()">Cancel</button>
            <!--<a class="btn button-save" sglClick="ctrl.save()" ng-disabled="ctrl.isActualSaveDisabled">Save</a>-->
            <button data-ng-init="ctrl.isActualSaveDisabled = false" class="btn button-save"
               ng-click="ctrl.isActualSaveDisabled = true;ctrl.save();"
               ng-disabled="ctrl.isActualSaveDisabled">Save</button>
        </div>
    </div>
</div>
