################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/NDMS.Security/obj
/NDMS.Security/bin/QA
/NDMS.Logger/obj
/NDMS.Logger/bin/QA
/NDMS.Helpers/obj
/NDMS.Helpers/bin/QA
/NDMS.DomainModel/obj
/NDMS.DomainModel/bin/QA
/NDMS.DependencyRegistry/obj
/NDMS.DependencyRegistry/bin/QA
/NDMS.DataAccess/obj
/NDMS.DataAccess/bin/QA
/NDMS.Cache/obj
/NDMS.Cache/bin/QA
/NDMS.Business.Interfaces/obj
/NDMS.Business.Interfaces/bin/QA
/NDMS.Apis/obj/QA
/NDMS.Apis/bin
/.vs/NDMS.Apis/v14/.suo
/NDMS.Business/obj
/NDMS.Business/bin/QA
/NDMS.Apis/obj
/NDMS.Business/bin
/NDMS.Business.Interfaces/bin
/NDMS.Cache/bin/Release
/NDMS.DataAccess/bin
/NDMS.DependencyRegistry/bin
/NDMS.DomainModel/bin
/NDMS.Helpers/bin
/NDMS.Logger/bin
/NDMS.Security/bin
/NDMS.Cache/bin/Debug
