<div class="table-responsive month-plan">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th data-ng-repeat="mt in monthlyTarget">
                    <div>
                        {{mt.month.name.substr(0,3)}} ' {{mt.month.year.toString().substr(2,2)}}
                        <a data-ng-show="ctrl.isDailyTargetAccessible" data-ng-click="submitDailyTarget({target:mt, mode:mode, showDailyAndMonthly:ctrl.hasDifferentTargetEntry, metricDataType:metricDataType})">
                            <i data-ng-hide="!($index >= effectiveStartMonthIndex && $index <= effectiveEndMonthIndex) ||(!isEditable && !mt.hasDailyTarget) ||(mt.isPastMonth && !mt.hasDailyTarget)" 
                               ng-class="{'fa fa-pencil-square':isEditable && !mt.isPastMonth,'fa fa-eye':!isEditable || mt.isPastMonth,'hasManual':mt.hasManualTarget}"></i>
                        </a>
                    </div>
                </th>
                <th ng-show="isShowTotalColumn">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-if="isCascadeEnabled">
                <td>Unallocated Goal</td>
                <td data-ng-repeat="mt in monthlyTarget track by $index" 
                     data-ng-disabled="!($index >= effectiveStartMonthIndex && $index <= effectiveEndMonthIndex)" >
                    <input type="number" ng-if="isEditable" ng-disabled="true" valid-number="{{ctrl.metricDataTypeName}}"
                           data-ng-model="mt.maximumAllowedGoal" />
                    <span ng-if="!isEditable">{{mt.maximumAllowedGoal| metricType:metricDataType:ctrl.isShowingTarget}}</span>
                </td>
                <td ng-show="isShowTotalColumn">{{calculateMaxAllowedTotal()| metricType:metricDataType:ctrl.isShowingTarget}}</td>
            </tr>
            <tr data-ng-if="isCascaded">
                <td>Rolled up Goal</td>
                <td data-ng-repeat="mt in monthlyTarget track by $index"
                    data-ng-disabled="!($index >= effectiveStartMonthIndex && $index <= effectiveEndMonthIndex)">
                    <input type="number" ng-if="isEditable" data-ng-model="mt.rolledupGoalValue" valid-number="{{ctrl.metricDataTypeName}}"
                           data-ng-disabled="true" />

                    <span ng-if="!isEditable">{{mt.rolledupGoalValue| metricType:metricDataType:ctrl.isShowingTarget}}</span>
                </td>
                <td ng-show="isShowTotalColumn">{{calculateRollupTotal()| metricType:metricDataType:ctrl.isShowingTarget}}</td>
            </tr>
            <tr data-ng-if="!ctrl.isTargetEnteredDaily || ctrl.hasDifferentTargetEntry">
                <td>Monthly Goal</td>
                <td data-ng-repeat="mt in monthlyTarget track by $index" 
                    data-ng-disabled="!($index >= effectiveStartMonthIndex && $index <= effectiveEndMonthIndex)">
                    <input type="number" ng-if="isEditable" data-ng-model="mt.goalValue" valid-number="{{ctrl.metricDataTypeName}}"
                           ng-change="clearDailyTargets(mt)" data-ng-disabled="!($index >= effectiveStartMonthIndex && $index <= effectiveEndMonthIndex) || mt.hasManualTarget ||mt.isPastMonth || ctrl.isTargetEnteredDaily" />
                    
                    <span ng-if="!isEditable">{{mt.goalValue| metricType:metricDataType:ctrl.isShowingTarget}}</span>
                </td>
                <td ng-show="isShowTotalColumn">{{calculateGoalTotal()| metricType:metricDataType:ctrl.isShowingTarget}}</td>
            </tr>
            <tr data-ng-if="ctrl.isTargetEnteredDaily || ctrl.hasDifferentTargetEntry">
                <td>Daily Rate</td>
                <td data-ng-repeat="mt in monthlyTarget track by $index"
                    data-ng-disabled="!($index >= effectiveStartMonthIndex && $index <= effectiveEndMonthIndex)">
                    <input type="number" ng-if="isEditable" data-ng-model="mt.dailyRateValue" valid-number="{{ctrl.metricDataTypeName}}"
                           ng-change="clearDailyTargets(mt)" data-ng-disabled="!($index >= effectiveStartMonthIndex && $index <= effectiveEndMonthIndex) || mt.hasManualTarget || mt.isPastMonth || !ctrl.isTargetEnteredDaily" />
                    <span ng-if="!isEditable">{{mt.dailyRateValue| metricType:metricDataType:ctrl.isShowingTarget}}</span>
                </td>
                <td ng-show="isShowTotalColumn"></td>
            </tr>
            <tr data-ng-if="isStretchGoalEnabled">
                <td>Stretch Goal</td>
                <td data-ng-repeat="mt in monthlyTarget track by $index" 
                    data-ng-disabled="!($index >= effectiveStartMonthIndex && $index <= effectiveEndMonthIndex)">
                    <input type="number" ng-if="isEditable" data-ng-model="mt.stretchGoalValue" valid-number="{{ctrl.metricDataTypeName}}"
                           data-ng-disabled="!($index >= effectiveStartMonthIndex && $index <= effectiveEndMonthIndex) || mt.isPastMonth" />
                    
                    <span ng-if="!isEditable">{{mt.stretchGoalValue| metricType:metricDataType:ctrl.isShowingTarget}}</span>
                </td>
                <td ng-show="isShowTotalColumn">{{calculateStretchGoalTotal()| metricType:metricDataType:ctrl.isShowingTarget}}</td>
            </tr>
        </tbody>
    </table>
    </div>
