
<div class="year-wrap">
    <div class="col-md-2 month-wrap" ng-repeat="month in months">
        <div class="month">
            <div class="month-name">{{ month.name | uppercase }}</div>
            <div class="day-name">
                <div ng-repeat="day in weekDays(options.dayNamesLength) track by $index" class="weekday">{{ day }}</div>
            </div>
            <div class="monthdays">
                <div ng-repeat="week in month.weeks track by $index" class="week">
                    <div class="day"
                         ng-repeat="date in week track by $index"
                         ng-click="markEvent({date:date})">
                        <div class="day-number" ng-class="{default: isDefaultDate(date), event: date.event, disabled: date.disabled || !date}">{{ date.day || "&nbsp;" }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>