<div class="kpi-detailed" ng-class="{noaccess:!ctrl.isUserAuthorizedToAlterScorecardEntries}">
    <div class="detailed-left">
        <div class="top-row">
            <div class="back">
                <i class="fa fa-arrow-circle-left" ng-click="navigateToScorecard()"></i>
                {{ctrl.primaryMetricDetails.metricName}}
            </div>
            <div class="goal">
                <h4><small>Goal</small></h4>
                <div ng-if="ctrl.primaryGoalValue ||ctrl.primaryGoalValue == 0 ">
                    <h4>{{ctrl.primaryGoalValue | metricType:ctrl.kpiIndicationData.primaryMetricData.metricDataTypeId:ctrl.isShowingGoal}}</h4>
                </div>
                <div ng-if="!ctrl.primaryGoalValue && ctrl.primaryGoalValue != 0">
                    <h4>NA</h4>
                </div>
            </div>
            <div class="stretch-goal" ng-show="ctrl.primaryStretchGoalValue || ctrl.primaryStretchGoalValue==0">
                <h4><small>Stretch Goal</small></h4>
                <h4>{{ctrl.primaryStretchGoalValue |metricType:ctrl.kpiIndicationData.primaryMetricData.metricDataTypeId:ctrl.isShowingGoal}}</h4>
            </div>
            <div class="drill-down-icon pull-right" ng-if="ctrl.isAuthorizedUser">
                <a data-ng-click="ctrl.drillDown()" title="Drill-Down">
                    <i class="fa fa-share-alt fa-3x" aria-hidden="true"></i>
                </a>
            </div>
        </div>       

        <div class="kpi-letter-wrapper kpi-letter-{{ctrl.kpiId}}">
            <div class="kpi-name">{{ctrl.kpiname}}</div>
            <kpi-letter kpi-id="ctrl.kpiId"
                        monthly-data="ctrl.kpiIndicationData.primaryMetricData.monthlyActuals"
                        dialy-data="ctrl.kpiIndicationData.primaryMetricData.dailyActuals"
                        metric-details="ctrl.primaryMetricDetails"
                        display-popup="ctrl.showActualsOrHolidayPopup(data,type,metricDetails)">
            </kpi-letter>
            <div class="metric-title"></div>
            <div class="metrics-secondary-wrapper">
                <div class="metric-secondary" ng-init="sm.actual= sm.dailyActual? sm.dailyActual:sm.monthlyActual"
                     ng-class="{inactive:sm.actual.status===0, green:sm.actual.status===1, red:sm.actual.status===2,blue:sm.actual.status===3}"
                     data-ng-repeat="sm in ctrl.kpiIndicationData.secondaryMetricsData">
                    <div class="metric-secondary-h">{{sm.metricName}}</div>
                    <div class="metric-secondary-c">
                        <div class="cell">
                            <div class="cell-label">Goal</div>
                            <div class="cell-value" ng-if="sm.mtdGoal ||sm.mtdGoal == 0">{{sm.mtdGoal|metricType:sm.metricDataTypeId}}</div>
                            <div class="cell-value" ng-if="!sm.mtdGoal && sm.mtdGoal != 0">NA</div>
                        </div>
                        <div class="cell actual" data-ng-click="ctrl.openSecondaryMetricDetailedPopup(sm)">
                            <div class="metric-sec-cell">Actual</div>
                            <div class="cell-value">{{sm.actual.value|metricType:sm.metricDataTypeId}}</div>
                        </div>
                    </div>
                    <div class="metric-secondary-shadow"></div>
                </div>
            </div>


        </div>
        <div class="legend-help-w">
            <div class="legend-help">
                <ul class="legend-help-inner">
                    <li class="legend-item">
                        <i class="color legend-achieved"></i>Achieved Goal
                    </li>
                    <li class="legend-item">
                        <i class="color legend-missed"></i>Missed Goal/Safety Accident
                    </li>
                    <li class="legend-item">
                        <i class="color legend-holiday"></i>Non-Workday
                    </li>
                    <li class="legend-item">
                        <i class="color legend-not-tracked"></i> Not Currently Being Tracked
                    </li>
                </ul>
                <div class="legend-help-shadow"></div>
            </div>
        </div>
    </div>
    <div class="detailed-right">

        <div class="fiscal-month">
            <h5 class="fiscal-month-header">FISCAL MONTH</h5>
            <div class="fiscal-month-months ">
                <table>
                    <tr>
                        <td class="month" data-ng-repeat="item in ctrl.fiscalMonthData">
                            <a ng-class="{inactive:item.status===0,green:item.status===1,red:item.status===2}">{{item.month}}</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="fiscal-month-shadow"></div>
        </div>

        <div class="metric-dropdown" data-ng-if="ctrl.scorecardKpiMetrics.length">
            <select class="form-control select" id="scorecardMetric"
                    data-ng-model="ctrl.scorecardMetricTargetId"
                    data-ng-options="option.id as option.name for option in ctrl.scorecardKpiMetrics"
                    data-ng-change="ctrl.loadGraphForMetric()"></select>
            <div class="metric-dropdown-shadow"></div>
        </div>
        <div class="graph-detailed" data-ng-if="ctrl.isGraphDataLoaded && ctrl.isGraphData">
            <metric-graph class="big-chart" page="ctrl.graphPlottingPage" value='ctrl.graphData'></metric-graph>
        </div>
        <div data-ng-if="!ctrl.isGraphData">
            <div class="no-graph">
                <h6>{{ctrl.isGraphDataLoaded ? "NO GRAPH AVAILABLE" : "Loading..."}}</h6>
            </div>
        </div>
        <div class="detailed-table" data-ng-if="ctrl.metricDetails.length || ctrl.counterMeasureData.length">
            <div class="detailed-table-header">
                <div class="title">Counter Measure</div>
                <a class="btn pull-right" data-ng-click="ctrl.proceedToAddCounterMeasure()" data-ng-if="ctrl.metricDetails.length && ctrl.isUserAuthorizedToAlterScorecardEntries">
                    <span class="fa fa-plus"></span>
                    <span>Add</span>
                </a>
                <label class="closedchk">
                    Show closed counter measure
                    <input type="checkbox" data-ng-model="ctrl.counterMeasureIncludeClosed" data-ng-change="ctrl.reloadCounterMeasureTable()" data-ng-init="ctrl.counterMeasureIncludeClosed = false">
                </label>
            </div>
            <counter-measure counter-measure-data="ctrl.counterMeasureData" is-edit-authorised="ctrl.isUserAuthorizedToAlterScorecardEntries" scorecard-id="ctrl.scorecardId" data-ng-if="ctrl.counterMeasureData.length>0"></counter-measure>
            <div class="detailed-table-shadow"></div>
        </div>
        <div class="detailed-table" ng-if="ctrl.counterMeasureData.length==0">
            <div class="counter-measures">
                <div class="value">{{ctrl.counterMeasureData.length}}</div>
                <div class="label">COUNTER MEASURES</div>
            </div>
            <div class="detailed-table-shadow"></div>
        </div>
        <div class="row status-help-w" ng-if="ctrl.counterMeasureData.length && ctrl.statusLegends.length">
            <div class="status-help">
                <ul class="status-help-inner">
                    <li class="item" ng-repeat="legend in ctrl.statusLegends">
                        <i class="{{legend.counterMeasureStatus}}"></i>{{legend.status}}
                    </li>
                </ul>
                <div class="status-help-shadow"></div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (navigator.userAgent.match(/iPhone|iPad/i)) {
            $(window).resize(function () {
                if ($('body').height() > $('.modal-backdrop').height()) {
                    var height = $('body').height();
                    $('.modal-backdrop').css('height', height + 'px');
                }
            });
        }
    });
</script>