<div class="popup-wrapper kpi-detailed kpi-secondary" ng-class="{noaccess:!ctrl.isUserAuthorizedToAlterScorecardEntries}">
    <div class="popup">
        <div class="popup-content">
            <div class="content-top">
                <div class="row">
                    <div class="col-xs-7">
                        <h4 class="font-bold">{{ctrl.metricDetails.metricName}}</h4>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-6 goal">
                            <h4><small>Goal</small></h4>
                            <div ng-if="ctrl.metricDetails.mtdGoal ||ctrl.metricDetails.mtdGoal == 0">
                                <h4 class="font-bold">{{ctrl.metricDetails.mtdGoal|metricType:ctrl.metricDetails.metricDataTypeId:ctrl.isShowingGoal}}</h4>
                            </div>
                            <div ng-if="!ctrl.metricDetails.mtdGoal && ctrl.metricDetails.mtdGoal!= 0">
                                <h4 class="font-bold">NA</h4>
                            </div>
                        </div>
                        <div class="col-xs-6 stretch-goal" ng-show="ctrl.metricDetails.monthlyStretchGoalValue || ctrl.metricDetails.monthlyStretchGoalValue==0">
                            <h4><small>Stretch Goal</small></h4>
                            <h4 class="font-bold">{{ctrl.metricDetails.monthlyStretchGoalValue|metricType:ctrl.metricDetails.metricDataTypeId:ctrl.isShowingGoal}}</h4>
                        </div>
                        
                    </div>
                    <div class="col-xs-1">
                        <button class="close" ng-click="ctrl.cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="kpi-name">{{ctrl.kpiname}}</div>
                        <div class="kpi-letter-wrapper kpi-letter-{{ctrl.kpiId}}">
                            <kpi-letter kpi-id="ctrl.kpiId"
                                        monthly-data="ctrl.metricActualsIndicationData.monthlyActuals"
                                        dialy-data="ctrl.metricActualsIndicationData.dailyActuals"
                                        metric-details="ctrl.metricDetails"
                                        display-popup="ctrl.showSecondaryMetricActualPopup(data,type,metricDetails)">
                            </kpi-letter>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="legend-help-w">
                    <div class="legend-help">
                        <div class="legend-help-inner">
                            <div class="legend-item">
                                <i class="color legend-achieved"></i>Achieved Goal
                            </div>
                            <div class="legend-item">
                                <i class="color legend-missed"></i>Missed Goal/Safety Accident
                            </div>
                            <div class="legend-item">
                                <i class="color legend-holiday"></i>Non-Workday
                            </div>
                            <div class="legend-item">
                                <i class="color legend-not-tracked"></i> Not Currently Being Tracked
                            </div>
                        </div>
                        <div class="legend-help-shadow"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
