<p class="input-group" >
    <input type="text" readonly="readonly" data-ng-click="open($event)" ng-disabled="isDisabled"
           class="form-control  clearDisabled"  uib-datepicker-popup="dd MMM yyyy"
            datepicker-options="dateOptions" 
           placeholder="{{placeholderText}}" ng-model="dateModel" is-open="opened" 
           date-disabled="disabled(date, mode)" 
           close-text="Close"  ng-change="changeDate()" show-button-bar="showButtons" on-open-focus="false"/>
    <span class="input-group-btn" >
        <button class="btn calendar" data-ng-click="open($event)" ng-disabled="isDisabled">
            <i class="fa fa-calendar"></i>
        </button>
    </span>
</p>
