
<div>
    <view-target kpi-target-data="ctrl.kpiTargetData" 
                 edit-target="ctrl.editTarget(target)"
                 delete-target="ctrl.deleteTarget(target)"
                 is-primary="ctrl.isPrimary" 
                 submit-daily-target ="ctrl.submitDailyTarget(target,mode, showDailyAndMonthly, metricDataType)"
                 is-view-target="ctrl.isViewTarget"
                 is-prev-year-target="ctrl.isPrevCalenderYearSelected"
                 current-expanded-target-index="ctrl.currentExpandedTargetIndex">
    </view-target>
</div>

