<div>
    <form class="form-horizontal" id="add-scorecard" name="add-scorecard" role="form" novalidate>
        <div class="add-scorecard container">
            <div class="row top-row" ng-show="ctrl.hasParent">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4><small>Parent Scorecard</small></h4>
                        <h4>{{ctrl.parentName | titleCase }}<small> - (ID: {{ctrl.parentId}})</small></h4>
                    </div>
                </div>
            </div>
            <div class="row" ng-class="{topspaced:!ctrl.hasParent}">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Scorecard</label>
                        <input type="text" class="form-control" data-validation-injector data-validation-rules="ctrl.validationRules.Name"
                               name="scorecard-name" id="scorecard-name" ng-model="ctrl.scorecard.name"
                               placeholder="Scorecard Name">
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group" ng-if="!ctrl.displayMode">
                        <label>Scorecard ID</label>
                        <span class="form-control" name="scorecardId" id="scorecardId" data-ng-disabled="true">{{ctrl.scorecardId}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Business Segment</label>
                        <select id="business-segments" multiple="multiple"  data-placeholder="Select business segment..." ></select>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label>Division</label>
                        <select id="divisions" multiple="multiple"  data-placeholder="Select division..." ></select>                      
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Facility</label>
                        <select id="facilities" multiple="multiple"  data-placeholder="Select facility..." ></select>   
                        
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label>Product Line</label>
                        <select id="productlines" multiple="multiple"  data-placeholder="Select product line..." ></select>  
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Department</label>
                        <select id="departments" multiple="multiple"  data-placeholder="Select department..." ></select>                          
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label>Process</label>
                        <select id="processes" multiple="multiple"  data-placeholder="Select process..." ></select>    
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>KPI Owner</label>
                        <tags-input class="tagsInput" ng-model="ctrl.kpiOwners"
                                    display-property="fullName"
                                    key-property="accountName"
                                    min-length="1"
                                    max-tags="{{ctrl.maxKPIOwnerCount}}"
                                    min-tags="0"
                                    add-from-autocomplete-only="true"
                                    replace-spaces-with-dashes="false"
                                    placeholder="Add KPI Owner"
                                    enforce-max-tags>
                            <auto-complete source="ctrl.loadTags($query)"
                                           min-length="3"
                                           max-results-to-show="{{ctrl.seletedListCount}}">
                            </auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label>Team</label>
                        <tags-input class="tagsInput" ng-model="ctrl.teams"
                                    display-property="fullName"
                                    key-property="accountName"
                                    min-length="1"
                                    max-tags="{{ctrl.maxTeamCount}}"
                                    min-tags="0"
                                    replace-spaces-with-dashes="false"
                                    add-from-autocomplete-only="true"
                                    placeholder="Add Team Member"
                                    enforce-max-tags>
                            <auto-complete source="ctrl.loadTags($query)"
                                           min-length="3"
                                           max-results-to-show="{{ctrl.seletedListCount}}">
                            </auto-complete>
                        </tags-input>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Bowling Chart Applicable?</label>
                        <div class="radio-button">
                            <label class="radio-inline">
                                <input type="radio" id="r-bowlingchart" name="r-bowlingchart" ng-model="ctrl.scorecard.isBowlingChartApplicable" ng-value="true">
                                <i class="fa fa-circle-o"></i>
                                <span>Yes </span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="r-bowlingchart" name="r-bowlingchart" ng-model="ctrl.scorecard.isBowlingChartApplicable" ng-value="false">
                                <i class="fa fa-circle-o"></i>
                                <span>No </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label>KPI Selection</label>
                        <div class="select-kpi">
                            <label ng-repeat="kpi in ctrl.KPIs">
                                <input type="checkbox" data-ng-model="kpi.isSelected" data-ng-init="kpi.isSelected = true && kpi.id!=6 && kpi.id!=7">
                                <i class="fa fa-square-o"></i>
                                <span data-ng-switch="kpi.id">
                                    <span ng-switch-when="0">
                                        <img ng-src="Images/safety_small.png">
                                    </span>
                                    <span ng-switch-when="1">
                                        <img ng-src="Images/quality_small.png">
                                    </span>
                                    <span ng-switch-when="2">
                                        <img ng-src="Images/delivery_small.png">
                                    </span>
                                    <span ng-switch-when="3">
                                        <img ng-src="Images/innovation_small.png">
                                    </span>
                                    <span ng-switch-when="4">
                                        <img ng-src="Images/cost_small.png">
                                    </span>
                                    <span ng-switch-when="5">
                                        <img ng-src="Images/people_small.png">
                                    </span>
                                    <span ng-switch-when="6">
                                        <img ng-src="Images/revenue_small.png">
                                    </span>
                                    <span ng-switch-when="7">
                                        <img ng-src="Images/net_capital_small.png">
                                    </span>
                                </span>
                                &nbsp;&nbsp;
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Drill-down Level</label>
                        <input class="form-control" type="number" valid-number="wholeNumber" max="99"  name="drilldownLevel" id="drilldownLevel"
                               data-ng-model="ctrl.scorecard.drilldownLevel" 
                               data-validation-injector data-validation-rules="ctrl.validationRules.DrilldownLevel" />
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 pattern">
                    <div class="col-md-6" ng-if="ctrl.scorecard.isEmptyWorkdayPatternAvailable">
                        <div class="form-group">
                            <div>
                                <label>Active Workday Pattern</label><br />
                                <label class="empty-workdaydaypattern">No pattern added</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="ctrl.scorecard.isActiveWorkdayPattern">
                        <div class="form-group" >
                            <label>Active Workday Pattern</label>
                            <workday-pattern is-readonly="true" workday-pattern="ctrl.scorecard.activeScorecardWorkdayPattern"></workday-pattern>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="ctrl.scorecard.isNextWorkdayPatternAvailable">
                        <div class="form-group" >
                            <label>{{ctrl.scorecard.nextWorkdayPatternName}}</label>
                            <workday-pattern is-readonly="false" workday-pattern="ctrl.scorecard.scorecardWorkdayPattern"></workday-pattern>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="!ctrl.scorecard.isNextWorkdayPatternAvailable">
                        <div class="form-group">
                            <div class="change">
                                <button class="btn btn-default button-change" ng-click="ctrl.ChangeWorkdayPattern()">Change</button>
                            </div>
                        </div>
                    </div>                    
                </div>

            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Last Recordable Date</label>
                        <date-picker date-model="ctrl.recordable.recordableDate" date-options="ctrl.dateOptions"
                                     opened="ctrl.startDateOpened" is-disabled="ctrl.disableLastRecordableDate" />
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-1 pattern">
                    <div class="col-md-6" ng-if="ctrl.scorecard.isActiveHolidyPattern">
                        <div class="form-group">
                            <div >
                                <label>Active Holiday Schedule</label><br />
                                <label class="active-holidaypattern">{{ctrl.scorecard.activeScorecardHolidayPattern.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="ctrl.scorecard.isNextHolidayPattrenAvailable">
                        <div class="form-group">
                            <label>{{ctrl.scorecard.nextHolidayPatternName}}</label>
                            <select class="form-control select" name="scorecardHolidaydayPatterns" id="scorecardHolidaydayPatterns" ng-model="ctrl.scorecard.scorecardHolidayPattern.holidayPatternId"
                                    data-ng-options="item.id as item.name for item in ctrl.HolidayPatterns " >
                                <option value="" disabled selected style="display: none;">Select Holiday Schedule</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="!ctrl.scorecard.isNextHolidayPattrenAvailable">
                        <div class="form-group">
                            <div class="change">
                                <button class="btn btn-default button-change" ng-click="ctrl.ChangeHolidayPattern()">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">

                </div>
                <div class="col-md-5 col-md-offset-1" ng-if="!ctrl.displayMode">
                    <div class="form-group">
                        <label>Is Active?</label>
                        <div class="radio-button">
                            <label class="radio-inline">
                                <input type="radio" id="isActive" name="isActive" ng-model="ctrl.scorecard.isActive" ng-value="true">
                                <i class="fa fa-circle-o"></i>
                                <span>Yes </span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="isActive" name="isActive" ng-model="ctrl.scorecard.isActive" ng-value="false">
                                <i class="fa fa-circle-o"></i>
                                <span>No </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <div class="button-wrapper pull-right">
                            <button class="btn btn-default button-cancel" ng-click="ctrl.cancel()">Cancel</button>
                            <button class="btn button-save" ng-disabled="ctrl.isSaving" ng-if="ctrl.displayMode" ng-click="ctrl.save()">Save</button>
                            <button class="btn button-save" ng-disabled="ctrl.isSaving" ng-if="!ctrl.displayMode" ng-click="ctrl.Update()">Update</button>
                        </div>
                    </div>
                </div>

        </div>
    </form>
</div>
