<!DOCTYPE html>
<html>
<head>
    <title>NDMS Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/NDMSUI/favicon.ico" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../fonts/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="style.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,700italic,500italic,400italic,300italic,900' rel='stylesheet' type='text/css'>
</head>
<body data-ng-controller="LoginController as loginController" ng-cloak>

    <div class="wrapper container">
        <div class="login-outer-wrapper">
            <div class="btn-close" id="close-btn" ng-show="loginController.isIE && loginController.isFullScreen">
                <i class="fa fa-times" aria-hidden="true" ng-click="loginController.close()"></i>
            </div>
            <div class="login-wrapper">
                <div class="login-logo">
                </div>
                <h4>Daily Management System</h4>
                <form name="loginForm" ng-submit="loginController.login(loginForm.$valid)" novalidate>
                    <div class="form-group login-input" ng-class="{ 'has-error': loginForm.username.$dirty && loginForm.username.$error.required }">
                        <input type="text" name="username" class="form-control" placeholder="Username" ng-model="loginController.loginData.username" required>
                        <i class="fa fa-user"></i>
                        <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">User name is required.</p>
                    </div>
                    <div class="form-group login-input" ng-class="{ 'has-error': loginForm.password.$dirty && loginForm.password.$error.required }">
                        <input type="password" name="password" class="form-control" placeholder="Password" ng-model="loginController.loginData.password" required>
                        <i class="fa fa-lock"></i>
                        <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password is required.</p>
                    </div>
                    <button type="submit" class="btn sign-in" ng-disabled="loginForm.$invalid">Sign In</button>
                </form>
            </div>
        </div>
    </div>
    <!--Require js configuration-->
    <script data-main="main" src="../Scripts/require.js">
    </script>
</body>
</html>
