<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear/>
        <!--Redirect rule to login page when someone tries to hit root directory-->
        <rule name="Root Hit Redirect" stopProcessing="true">
          <match url="^$"/>
          <action type="Redirect" url="/NDMSUI/Login" redirectType="Found"/>
        </rule>
        <!--Rewrite rules for Angular JS routes -->
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/NDMSUI/"/>
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <!--Disables the client cache. This needs to commented or removed when moved to production-->
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
    <!--Disables the output cache. This needs to commented or removed when moved to production-->
    <caching enabled="false"/>
  </system.webServer>
</configuration>