html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    -ms-overflow-style: scrollbar;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.login-outer-wrapper {
    width: 100%;
    height: 100%;
}

.login-wrapper {
    width: 380px;
    min-height: 300px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-tranform: translateY(-50%);
    background: #F2F2F2;
    box-shadow: 0px 1px 3px 2px #ccc;
    padding: 30px 0px;
}

    .login-wrapper h4 {
        text-align: center;
        color: #75787B;
        margin: 10px 0px 20px;
        font-weight: 500;
        font-size: 17px;
    }

    .login-wrapper input {
        height: 45px;
        background: #FFF;
        padding-left: 30px;
        color: #000;
        border-radius: 0;
    }

        .login-wrapper input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
        }

        .login-wrapper input:focus + i {
            color: #333;
        }

        .login-wrapper input::-webkit-input-placeholder {
            color: #AAA;
        }

    .login-wrapper .sign-in {
        width: 100%;
        padding: 8px;
        margin-top: 40px;
        font-size: 16px;
        border: 1px solid #30abe7;
        background: #30abe7;
        color: #FFF;
        border-radius: 2px;
    }

        .login-wrapper .sign-in:hover, .login-wrapper .sign-in:focus {
            border: 1px solid #0f8dcb;
        }

    .login-wrapper form {
        margin-left: 20px;
        margin-right: 20px;
    }

    .login-wrapper .login-input {
        position: relative;
        margin-bottom: 0;
    }

        .login-wrapper .login-input i {
            position: absolute;
            top: 0;
            left: 0;
            padding: 13px 9px;
            font-size: 18px;
            color: #ccc;
        }

.login-logo {
    width: 70%;
    height: 60px;
    background: url('NOV_WellbDiv_Logo.png') center no-repeat;
    background-size: 100% auto;
    margin: 0 auto;
}

.btn-close {
    float: right;
    padding: 8px;
}

    .btn-close i {
        font-weight: 500;
        font-size: 30px;
        line-height: 1;
        color: #156679;
    }

        .btn-close i:hover {
            text-decoration: none;
            cursor: pointer;
            color: #DA5456;
            text-shadow: 3px 3px 3px #000;
        }

@media only screen and (max-width: 1500px) {
    .login-wrapper {
        width: 330px;
    }
        .login-wrapper .sign-in {
            margin-top: 25px;
        }
}

@media only screen and (max-width: 480px) {
    .login-wrapper {
        max-width: 90%;
    }
}

.notify {
    position: fixed;
    clear: both;
    z-index: 3000 !important;
    min-width: 300px;
    text-align: center;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 15px;
}

    .notify .close {
        padding-left: 5px;
    }

    .notify .fa {
        font-size: 17px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        position: absolute;
        left: 0;
        right: 0;
    }

    .notify > span {
        padding: 15px;
        display: inline-block;
        padding-left: 40px;
        border-radius: 4px;
        width: 100%;
    }

.alert-danger.notify > span {
    border: 1px solid #ebccd1;
}

.alert-success.notify > span {
    border: 1px solid transparent;
}

.alert-info.notify > span {
    border: 1px solid transparent;
}

.notification-success:before {
    content: "\f00c";
    color: #FFF;
}

.notification-danger:before {
    content: "\f071";
    color: #FFF;
}

.alert {
    border-radius: 4px;
    padding: 0px;
    border-left: none;
    border: none;
}

.alert-danger .alert-icon {
    background: #AD302E;
}

.alert-success .alert-icon {
    background: #44A745;
}

.alert-info .alert-icon {
    background: transparent;
}

.alert-icon {
    width: 30px;
    float: left;
    height: 100%;
    position: absolute;
    display: block;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
}

.alert-danger {
    background-color: #f2dede;
    border-left-color: #B56260;
}

.alert-success {
    border-left-color: #44A745;
    background-color: #E9F1E6;
}

.alert-info {
    border-left-width: 1px;
}

.notify:after {
    content: '';
    display: block;
    clear: both;
}

.error {
    border-color: #a94442 !important;
}

/*Styles for ng-cloak directive*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
